@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,600;1,700&family=Yeseva+One&display=swap');


:root {
    --nav: #F7BCA5;
    --accent: #F7837C;
    --text: #F4EAE6;
    --hover: #69C9BC;
    --text-color: #229b8b;
}

body {
    overflow-x: hidden;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #EED6D3;
    color: #616971;
  }

  img {
    display: block;
  }

  h1 {
      font-weight: 600;
      font-size: 5vw;   
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
      margin-top: 2rem;
  }

  h5 {
      margin-top: 1rem;
      margin-bottom: 1rem;
  }

  p {
      color: var(--text-color);
  }

  a {
      text-decoration: none;
  }

  .text-color {
      color: #616971;
  }
  
  .navbar {
   background-color: transparent;
   position: absolute;
   width: auto;
   width: 100%;
   font-size: 1.15rem;
   font-weight: 600;
   letter-spacing: 0.1rem;
   z-index: 1;
  }

  .navbar-collapse.show {
    backdrop-filter: blur(10px);
  }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

  .navbar-brand { 
      max-width: 40%;
  }

  .logo {
    max-width: 20%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .nav-item {
    padding: 0.5rem;
  }

  .nav-link {
    color: var(--text-color);
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: clamp(.8rem, 2vw, 1.5rem); 
  }

  .collapse .navbar-nav .nav-item a.nav-link:active,
  .collapse .navbar-nav .nav-item a.nav-link:hover {
    color: var(--hover);
  }
  
  #carousel {
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  }

  .carousel-caption {
    position: absolute;
    top: 60%;
    right: 5%;
    transform: translateY(-50%);
    text-transform: uppercase;
  }
  
  .carousel-caption h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 3rem;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, .3);
  }
  .border-primary {
    border-top: 0.2rem solid var(--accent) !important;
  }

  .landing {
    background-color: #dcdbdb;
  }

  .landing-img {
    background-color: #dadcd9;
    position: relative;
    background-position: center;
    background-size:cover;
    height: auto;
    width: 100vw;
  }

  .d-lg-none {
    position: absolute;
    color:#F4EAE6;
    background-color:#69C9BC !important;
    border-color: #69C9BC !important;
    border-radius: 2;
    top: 30%;
    right: 5%;
  }

  .btn-lg {
    border-radius: 2;
    text-transform: uppercase;
    font-size: 1rem;
    border-width: medium;
    padding: 0.5rem;
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--text);
  }

  .child {
    position: relative;
  }

  .body-img {
    filter: brightness(90%);
  }

  .beauty-img {
    filter: brightness(80%);
  }

  .cta {
    position : absolute;
    top: 20%;
    padding-left: .5rem;
  }

  .cta-1 {
    position : absolute;
    top: 20%;
    right: .5rem;
  }

  .btn-outline-dark {
      color: var(--hover);
  }

  .btn:active,
  .btn-lg:hover {
      color: #fff
  }

  .btn:hover {
    background-color: var(--hover);
    border-color: var(--hover);
  }
  

  .lead {
      font-weight: 400;
  }

  .card {
    margin-bottom: 1rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
  }

  .card-img-top {
      min-width: 100%;
  }
  
  .btn-primary {
    background-color: var(--accent);
    border-color: var(--accent);
  }
  .btn-primary:hover {
    background-color: var(--hover);
    border-color: var(--hover);
  }

  /* Price List Cards */

  .pricingTable{
    background: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 15px -5px rgba(0,0,0,0.3);
}
.pricingTable .pricingTable-header{
    color: #fff;
    background-color: #F08BEB;
    padding: 20px 0;
    margin: 0 0 15px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}
.pricingTable .title{
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}
/* .pricingTable .price-value{
    color: #888;
    margin: 0 0 15px;
}
.pricingTable .price-value .amount{
    font-size: 42px;
    font-weight: 500;
} */
.pricingTable .price-value .duration{ font-size: 17px; }
.pricingTable .pricing-content{
    background: linear-gradient(#F27CC6,#F25A73);
    padding: 25px 0;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    border-radius: 20px;
}
.pricingTable .content-list{
    padding: 0;
    margin: 0 0 25px;
    list-style: none;
}
.pricingTable .content-list li{
    color: #fff;
    font-size: 15px;
    text-align: left;
    padding: 15px 45px 15px 15px;
    position: relative;
}
.pricingTable .content-list li:nth-child(even){ background-color: rgba(0,0,0,0.2); }
.pricingTable .content-list li:before{
    content: "";
    color: #fff;
    /* font-family: "Font Awesome 5 Free"; */
    font-weight: 900;
    font-size: 18px;
    position: absolute;
    top: 14px;
    right: 15px;
}

.cost {
  color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: 14px;
    right: 15px;
}
.pricingTable .content-list li.disable:before{ content: "\f00d"; }
.pricingTable .pricingTable-signup a{
    color: #444;
    background-color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    width: 150px;
    padding: 8px 20px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    display: block;
    transition: all 0.3s ease 0s;
}
.pricingTable .pricingTable-signup a:hover{
    color: #fff;
    background-color: rgba(0,0,0,0.3);
}
.pricingTable.blue .pricingTable-header{ background-color: #5AD8D7; }
.pricingTable.blue .pricing-content{ background: linear-gradient(#4DC6E1,#249FFC); }
.pricingTable.purple .pricingTable-header{ background-color: #6778E2; }
.pricingTable.purple .pricing-content{ background: linear-gradient(#6B69CC,#734FA7); }
@media only screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 30px; }
}

  /* .fixed {
    background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)),
      url("Images/pexels-önder-örtel-7187195.jpg");
    position: fixed;
  }
  .fixed-background {
    padding: 5rem 0;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 1);
  }

  .wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .wrapper:after {
    content: "";
    display: block;
    padding-top: 100%;
  }
  
  .wrapper img {
    width: auto;
    height: 100%;
    max-width: none;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  .table-responsive {
    display: block !important;
    overflow-x: auto !important;
    width: 100% !important;
  }

  .underline {
      border-bottom: 2px solid var(--accent);
      display: inline-block;
  }

  td {
    font-size: clamp(.8rem, 2vw, 1.2rem); 
  } */

  .btn:hover {
    font-weight: 600;
  }

  .review {
      font-family: 'Yeseva One', cursive;
      color: var(--accent);
  }

  .btn-outline-dark {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1vw;
    border-width: medium;
    padding: 0.5rem;
    background-color: transparent !important;
    border-color: var(--accent);
  }
  .btn-outline-dark:hover {
    font-weight: 800;
    color: #fff;
    background-color: var(--hover) !important;
    border-color: var(--hover);
  }

  .box {
    background-color: #EED6D3;
  }

  .jumbotron {
    background: var(--nav);
  }
  
  footer {
    background-color: #69C9BC;
    padding: 1rem 2rem 3rem;
  }

  footer img {
    height: 3.5rem;
    margin: 1.5rem auto;
  }
  footer p,
  footer a,
  .socket a {
    color: white;
    text-decoration: none;
  }

  #service {
    margin: 0;
  }

  .block {
      display: block;
  }

  ul.social {
    list-style-type: none;
    display: flex;
    max-width: 16rem;
    margin: 0 auto;
    padding: 0;
  }
  ul.social li {
    margin: 0 auto;
  }
  .svg-inline--fa {
    font-size: 2.3rem;
    color: var(--accent);
  }
  .svg-inline--fa:hover {
    color: var(--hover);
  }
  
  .socket {
    background-color: #222222;
    border-top: 0.1rem solid var(--accent);
  }

  .db {
      color: var(--accent);
  }

  /*-- Fixed bootstrap img --*/
  /* .fixed-background {
    position: relative;
    width: 100%;
    z-index: 1000 !important;
  }
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
  }
  .fixed {
    z-index: -999 !important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
  }
   */
  /* === Media Queries === */
  
  /* Devices under 1199px (xl) */
  @media (max-width: 1199.98px) {
    .carousel-caption h1 {
      font-size: 2.8rem;
    }
    .carousel-caption h3 {
      font-size: 1.5rem;
    }
  }
  
  /* Devices under 992px (lg) */
  @media (max-width: 991.98px) {
    .carousel-caption h1 {
      font-size: 2.5rem;
    }
    
    .flex-container {
      flex-direction: column;
    }

    .btn-lg {
      font-size: 3vw;
    }
  }
  
  /*-- Bootstrap mobile gutter fix --*/
  .row,
  .container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
 
  .svg-inline--fa:hover {
      color: var(--nav);
  }

  /* Form / Contact page */

  .register-photo {
    background:var(--text);
    padding:80px 0;
  }

  .image-holder {
      position: relative;
  }

  .address {
      position: absolute;
      left: 50%;
      bottom: 50%;
  }
  
  .register-photo .image-holder {
    display:table-cell;
    width:auto;
    background:url("Images/pexels-negative-space-33999.jpg");
    background-size:cover;
  }
  
  .register-photo .form-container {
    display:table;
    max-width:900px;
    width:90%;
    margin:0 auto;
    box-shadow:1px 1px 5px rgba(0,0,0,0.1);
  }
  
  .register-photo form {
    display:table-cell;
    width:400px;
    background-color:#ffffff;
    padding:40px 60px;
    color:#505e6c;
  }
  
  @media (max-width:991px) {
    .register-photo form {
      padding:40px;
    }
    .address * {
        display: none;
    }
  }
  
  .register-photo form h2 {
    font-size:24px;
    line-height:1.5;
    margin-bottom:30px;
  }
  
  .register-photo form .form-control {
    background:#f7f9fc;
    border:none;
    border-bottom:1px solid #dfe7f1;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
    text-indent:6px;
    height:40px;
  }
  
  .register-photo form .form-check {
    font-size:13px;
    line-height:20px;
  }
  
  .register-photo form .btn-primary {
    background: var(--accent);
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:35px;
    text-shadow:none;
    outline:none !important;
  }
  
  .register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
    background: var(--accent);
  }
  
  .register-photo form .btn-primary:active {
    transform:translateY(1px);
  }
  
  .register-photo form .already {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }

  .address * {
      color: var(--text-color);
      padding-bottom: 1rem;
      font-weight: 600;
  }

  .block:hover {
    color: var(--text-color);
    transform:translateY(1px);
  }

  .dropdown-toggle {
      width: 100%;
      text-align: left;
      color: inherit;
      background-color: #f7f9fc;
      border-bottom: 1px solid #dfe7f1;
  }

  .dropdown-toggle::after {
      position: absolute;
      right: 1rem;
      color: var(--accent)
  }

  .dropdown-item:hover {
      color: var(--accent);
  }
